Repository hazarartuner/challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run lint --fix, yarn run lint:scss --fix

.lintstagedrc:

{
  "**/*.js": ["prettier --write", "yarn run lint --fix", "git add"],
  "**/*.scss": ["prettier --write", "yarn run lint:scss --fix", "git add"]
}

feat(environment): Convert project to yarn workspace
  .eslintignore
  .eslintrc.js
  .lintstagedrc
  .prettierignore
  package.json
  webpack.common.js
  webpack.prod.js
  workspaces/api/package.json
  workspaces/web/babel.config.js
  workspaces/web/package.json
  workspaces/web/setupTests.js
  workspaces/web/src/components/App/App.js
  workspaces/web/src/components/App/App.scss
  workspaces/web/src/components/App/App.test.js
  workspaces/web/src/components/App/__snapshots__/App.test.js.snap
  workspaces/web/src/components/App/index.js
  workspaces/web/src/index.html
  workspaces/web/src/index.js
  workspaces/web/webpack.common.js
  workspaces/web/webpack.dev.js
  workspaces/web/webpack.prod.js
  yarn.lock
Due: prettier --write, yarn run lint --fix, yarn run lint:scss --fix

feat(api server): Create an api server by using express.js
  package.json
  workspaces/api/app.js
  workspaces/api/package.json
  workspaces/api/routes/home.js
  workspaces/api/routes/index.js
  workspaces/web/webpack.dev.js
  yarn.lock
Due: prettier --write, yarn run lint --fix

feat(api, mysql): Setup mysql connection and Create sample model for testing
  .env.sample
  workspaces/api/app.js
  workspaces/api/models/index.js
  workspaces/api/models/session.js
  workspaces/api/package.json
  workspaces/api/routes/home.js
  workspaces/api/services/sequelize.js
  yarn.lock
Due: prettier --write, yarn run lint --fix

feat(database): Create sequelize models and sync with database
  workspaces/api/models/index.js
  workspaces/api/models/story.js
  workspaces/api/models/user.js
  workspaces/api/models/user_session.js
  workspaces/api/models/vote.js
  workspaces/api/routes/home.js
Due: prettier --write, yarn run lint --fix

feat(database): Update some of the existing models and sync with the database
  workspaces/api/models/index.js
  workspaces/api/models/session.js
  workspaces/api/models/story.js
  workspaces/api/models/user.js
  workspaces/api/models/vote.js
  workspaces/api/routes/home.js
Due: prettier --write, yarn run lint --fix

feat(api): Create responseHandlers middleware, Create model:sync and model:fake scripts. Create /aut
  workspaces/api/fake.js
  workspaces/api/middlewares/responseHandlers.js
  workspaces/api/package.json
  workspaces/api/routes/auth.js
  workspaces/api/routes/index.js
  workspaces/api/sync.js
  workspaces/api/validators/userValidator.js
  yarn.lock
Due: prettier --write, yarn run lint --fix

feat(api): Create role based permission controller middleware and related response handler
  workspaces/api/middlewares/checkPermission.js
  workspaces/api/middlewares/responseHandlers.js
Due: prettier --write, yarn run lint --fix

feat(api): Create `POST /session` endpoint to create new sessions.
  workspaces/api/app.js
  workspaces/api/middlewares/authenticate.js
  workspaces/api/middlewares/checkPermission.js
  workspaces/api/middlewares/responseHandlers.js
  workspaces/api/models/index.js
  workspaces/api/models/session.js
  workspaces/api/package.json
  workspaces/api/routes/auth.js
  workspaces/api/routes/index.js
  workspaces/api/routes/session.js
  workspaces/api/validators/createSessionValidator.js
  workspaces/api/validators/loginValidator.js
  yarn.lock
Due: prettier --write, yarn run lint --fix

feat(api): Create `GET /session/:id` and `GET /session/list` endpoints
  workspaces/api/fake.js
  workspaces/api/middlewares/authenticate.js
  workspaces/api/middlewares/responseHandlers.js
  workspaces/api/routes/auth.js
  workspaces/api/routes/session.js
Due: prettier --write, yarn run lint --fix

fix(api): Change selecting session endpoint rule. Create conflict response handler.
  workspaces/api/middlewares/responseHandlers.js
  workspaces/api/routes/session.js
  workspaces/api/validators/createSessionValidator.js
Due: prettier --write, yarn run lint --fix

feat(api): Create 'POST /vote' and `GET /vote/list-by-story/:story` endpoints
  workspaces/api/middlewares/responseHandlers.js
  workspaces/api/routes/index.js
  workspaces/api/routes/session.js
  workspaces/api/routes/vote.js
  workspaces/api/validators/createVoteValidator.js
Due: prettier --write, yarn run lint --fix

feat(api): Create 'POST /story/complete/:id' and 'POST /story/set-active/:id' endpoints
  workspaces/api/middlewares/responseHandlers.js
  workspaces/api/routes/home.js
  workspaces/api/routes/index.js
  workspaces/api/routes/story.js
  workspaces/api/routes/vote.js
  workspaces/api/validators/completeStoryValidator.js
Due: prettier --write, yarn run lint --fix

fix(api): Add stories within the session detail request
  workspaces/api/routes/session.js
Due: prettier --write, yarn run lint --fix

fix(api): Add token value to the login endpoint's response
  workspaces/api/routes/auth.js
Due: prettier --write, yarn run lint --fix

feat(web): Implement react-router-dom package then Create sample pages
  workspaces/web/src/assets/scss/variables.scss
  workspaces/web/src/components/App/App.js
  workspaces/web/src/components/App/App.scss
  workspaces/web/src/components/TextInput/TextInput.js
  workspaces/web/src/components/TextInput/TextInput.scss
  workspaces/web/src/components/TextInput/index.js
  workspaces/web/src/index.js
  workspaces/web/src/routes/LoginPage/LoginPage.js
  workspaces/web/src/routes/LoginPage/LoginPage.scss
  workspaces/web/src/routes/LoginPage/index.js
  workspaces/web/src/routes/index.js
Due: prettier --write, yarn run lint --fix, yarn run lint:scss --fix

feat(web): Implement redux and Create sample ducks package
  workspaces/web/package.json
  workspaces/web/src/components/App/App.js
  workspaces/web/src/index.js
  workspaces/web/src/redux/ducks/auth/actions.js
  workspaces/web/src/redux/ducks/auth/index.js
  workspaces/web/src/redux/ducks/auth/reducer.js
  workspaces/web/src/redux/ducks/auth/types.js
  workspaces/web/src/redux/ducks/index.js
  workspaces/web/src/redux/store/index.js
  workspaces/web/src/redux/store/store.dev.js
  workspaces/web/src/redux/store/store.prod.js
  yarn.lock
Due: prettier --write, yarn run lint --fix

feat(web): Create api helper to fetching API service
  .env.sample
  workspaces/web/package.json
  workspaces/web/src/helpers/api.js
  workspaces/web/src/helpers/logger.js
  workspaces/web/webpack.common.js
  workspaces/web/webpack.dev.js
  yarn.lock
Due: prettier --write, yarn run lint --fix

feat(api): Create register endpoint. Update login endpoint. Update responseHandlers middleware
  workspaces/api/middlewares/checkPermission.js
  workspaces/api/middlewares/responseHandlers.js
  workspaces/api/routes/auth.js
  workspaces/api/routes/index.js
  workspaces/api/routes/session.js
  workspaces/api/routes/story.js
  workspaces/api/routes/vote.js
  workspaces/api/validators/loginValidator.js
  workspaces/api/validators/registerValidator.js
Due: prettier --write, yarn run lint --fix

refactor(api): Change all endpoints' response data schema
  workspaces/api/middlewares/checkPermission.js
  workspaces/api/middlewares/responseHandlers.js
  workspaces/api/routes/auth.js
  workspaces/api/routes/session.js
  workspaces/api/routes/story.js
  workspaces/api/routes/vote.js
Due: prettier --write, yarn run lint --fix

feat(web): Update login action and api helper.
  workspaces/web/src/errors/NotFoundError.js
  workspaces/web/src/helpers/api.js
  workspaces/web/src/redux/ducks/auth/actions.js
  workspaces/web/src/routes/LoginPage/LoginPage.js
Due: prettier --write, yarn run lint --fix

feat(web): Create LoginForm with other related components. Implament form with the api.
  workspaces/web/package.json
  workspaces/web/src/assets/images/dropdown-arrow-dark.svg
  workspaces/web/src/assets/scss/variables.scss
  workspaces/web/src/components/App/App.scss
  workspaces/web/src/components/DropDown/DropDown.js
  workspaces/web/src/components/DropDown/DropDown.scss
  workspaces/web/src/components/DropDown/index.js
  workspaces/web/src/components/LoginForm/LoginForm.js
  workspaces/web/src/components/LoginForm/LoginForm.scss
  workspaces/web/src/components/LoginForm/index.js
  workspaces/web/src/helpers/api.js
  workspaces/web/src/helpers/regexs.js
  workspaces/web/src/redux/ducks/auth/actions.js
  workspaces/web/src/redux/ducks/auth/types.js
  workspaces/web/src/routes/LoginPage/LoginPage.js
  workspaces/web/src/routes/LoginPage/LoginPage.scss
  yarn.lock
Due: prettier --write, yarn run lint --fix, yarn run lint:scss --fix

feat(api): Create 'GET /auth/user-details' endpoint
  workspaces/api/routes/auth.js
Due: prettier --write, yarn run lint --fix

feat(web): Create getUserDetails() action and Implement it. Create page loader ui/ux.
  workspaces/web/package.json
  workspaces/web/src/components/App/App.js
  workspaces/web/src/components/App/App.scss
  workspaces/web/src/helpers/api.js
  workspaces/web/src/helpers/generatePath.js
  workspaces/web/src/index.js
  workspaces/web/src/redux/ducks/auth/actions.js
  workspaces/web/src/redux/ducks/auth/reducer.js
  workspaces/web/src/redux/ducks/auth/selectors.js
  workspaces/web/src/redux/ducks/auth/types.js
  yarn.lock
Due: prettier --write, yarn run lint --fix, yarn run lint:scss --fix

feat(web): Create SessionsPage with sample content.
  workspaces/web/src/assets/images/plus.svg
  workspaces/web/src/assets/scss/variables.scss
  workspaces/web/src/components/App/App.js
  workspaces/web/src/components/App/App.scss
  workspaces/web/src/components/LoginForm/LoginForm.js
  workspaces/web/src/redux/ducks/auth/reducer.js
  workspaces/web/src/routes/SessionsPage/SessionsPage.js
  workspaces/web/src/routes/SessionsPage/SessionsPage.scss
  workspaces/web/src/routes/SessionsPage/index.js
  workspaces/web/src/routes/index.js
Due: prettier --write, yarn run lint --fix, yarn run lint:scss --fix

feat(web): Create 'app' ducks to control page loader globally
  workspaces/web/src/components/App/App.js
  workspaces/web/src/redux/ducks/app/actions.js
  workspaces/web/src/redux/ducks/app/index.js
  workspaces/web/src/redux/ducks/app/reducer.js
  workspaces/web/src/redux/ducks/app/selectors.js
  workspaces/web/src/redux/ducks/app/types.js
  workspaces/web/src/redux/ducks/index.js
Due: prettier --write, yarn run lint --fix

feat(web): Create 'entities' ducks to handle entities easily. Update sessions page
  .eslintrc.js
  workspaces/web/package.json
  workspaces/web/src/components/App/App.scss
  workspaces/web/src/helpers/api.js
  workspaces/web/src/redux/ducks/entities/actions.js
  workspaces/web/src/redux/ducks/entities/index.js
  workspaces/web/src/redux/ducks/entities/reducer.js
  workspaces/web/src/redux/ducks/entities/schemas.js
  workspaces/web/src/redux/ducks/entities/selectors.js
  workspaces/web/src/redux/ducks/entities/types.js
  workspaces/web/src/redux/ducks/index.js
  workspaces/web/src/routes/SessionsPage/SessionsPage.js
  workspaces/web/src/routes/index.js
  yarn.lock
Due: prettier --write, yarn run lint --fix, yarn run lint:scss --fix

feat(web): Create CreateSessionPage and TextArea components.
  workspaces/web/src/components/TextArea/TextArea.js
  workspaces/web/src/components/TextArea/TextArea.scss
  workspaces/web/src/components/TextArea/index.js
  workspaces/web/src/components/TextInput/TextInput.js
  workspaces/web/src/routes/CreateSessionPage/CreateSessionPage.js
  workspaces/web/src/routes/CreateSessionPage/CreateSessionPage.scss
  workspaces/web/src/routes/CreateSessionPage/index.js
  workspaces/web/src/routes/SessionsPage/SessionsPage.js
  workspaces/web/src/routes/index.js
Due: prettier --write, yarn run lint --fix, yarn run lint:scss --fix

feat(web): Create 'createSession' action and Integrate it within the CreateSession page
  workspaces/web/src/components/LoginForm/LoginForm.js
  workspaces/web/src/helpers/api.js
  workspaces/web/src/redux/ducks/entities/actions.js
  workspaces/web/src/redux/ducks/entities/reducer.js
  workspaces/web/src/routes/CreateSessionPage/CreateSessionPage.js
Due: prettier --write, yarn run lint --fix

feat(web): Create PlanningPage and related components without functionality
  workspaces/web/src/assets/images/logo.png
  workspaces/web/src/assets/scss/variables.scss
  workspaces/web/src/components/App/App.scss
  workspaces/web/src/components/ScoreCards/ScoreCards.js
  workspaces/web/src/components/ScoreCards/ScoreCards.scss
  workspaces/web/src/components/ScoreCards/index.js
  workspaces/web/src/components/ScrumMasterPanel/ScrumMasterPanel.js
  workspaces/web/src/components/ScrumMasterPanel/ScrumMasterPanel.scss
  workspaces/web/src/components/ScrumMasterPanel/index.js
  workspaces/web/src/components/StoryList/StoryList.js
  workspaces/web/src/components/StoryList/StoryList.scss
  workspaces/web/src/components/StoryList/index.js
  workspaces/web/src/routes/PlanningPage/PlanningPage.js
  workspaces/web/src/routes/PlanningPage/PlanningPage.scss
  workspaces/web/src/routes/PlanningPage/index.js
  workspaces/web/src/routes/index.js
Due: prettier --write, yarn run lint --fix, yarn run lint:scss --fix

docs(README): Update document
  README.md
Due: none
